@{
    ViewBag.Title = "Home";
}

<div style="text-align:center; margin-top:40px;">

    <img src="@Url.Content("~/Content/Images/logo.jpg")"
         style="width:500px;" />

    <h1 style="margin-top:20px;
               color:#d10000;
               font-weight:bold;">
        PHP CINEMA
    </h1>

        Website đặt vé xem phim trực tuyến
    </p>

</div>