@model MovieTicketDB.Models.Event

@{
    ViewBag.Title = "Chi tiết sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red;">
    @Model.Title
</h2>

<img src="@Url.Content("~/Content/Images/" + Model.Image)"
     style="width:500px;
            max-width:100%;
            margin-bottom:20px;" />

<p style="font-size:18px;">
    @Model.Description
</p>

<a href="/Movie/Event"
   class="btn btn-default">
    Quay lại
</a>