@model IEnumerable<MovieTicketDB.Models.Event>

@{
    ViewBag.Title = "Sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sự kiện khuyến mãi</h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-bottom:80px;">

            <div class="thumbnail" style="padding:20px;">

               <img src="@Url.Content("~/Content/Images/" + item.Image)"
                    style="width:100%; height:360px; object-fit:cover;" />

                <div class="caption">

                    <h4>@item.Title</h4>

                    <p>@item.Description</p>

                    <a href="/Movie/EventDetail/@item.EventID"
                       class="btn btn-danger">
                        Xem chi tiết
                    </a>

                </div>

            </div>

        </div>
    }

</div>